/* Make something awesome! */
.list-group-item {
   height:40px 
}
footer {
  text-align:center;
  font-weight:bold;
}
.sidebar {
  width:100%;
}
.mainbody {
  width:100%;
}
.banner{
  width: 50%;
  height: auto;
  margin-top: -10px;
}
body {
  background: #eee;
}
[name=price] {
  display: inline-block;
}