/* Make something awesome! */
.list-group-item {
   height:40px 
}
footer {
  text-align:center;
  font-weight:bold;
}
.sidebar {
  width:35%;
  display:inline-block;
  margin-top: -20px;
}
.mainbody {
  width:60%;
  display:inline-block;
}
.controls {
  padding-bottom: 10px;
}