/* Make something awesome! */
.list-group-item {
   height:40px 
}
footer {
  text-align:center;
  font-weight:bold;
}
.sidebar {
  width:35%;
  display:inline-block;
  margin-top: -20px;
}
.mainbody {
  width:60%;
  display:inline-block;
}
.controls {
  padding-bottom: 10px;
}
.shade {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  padding: 5%;
  overflow-y: auto;
}
.frame {
  width: 60%;
  margin-left: 20%;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
}
.banner{
  width: 300px;
  height: auto;
  margin-top: -10px;
}
.ui-autocomplete {
  z-index: 1100!important;
}
body {
  background: #eee;
}
[name=condition]{
  width: 20%;
}
[name=price] {
  display: inline-block;
  width: 95%;
}
#sell {
  width: 10%;
}