{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="/static/collegeAC.js"></script>
<script src="/static/add.js"></script>

<style>
    a:hover {
        cursor: pointer;
    }
    .isbn-field {
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block title %}Textbookloop - Add{% endblock %}
{% block content %}
{% if success %}
<div class="alert alert-success">Thanks for contributing!</div>
{% endif %}
<h1>Add a Course</h1>
<form method="post">
<div class="form-group">
    <div class="form-group ui-widget">
  <label class="control-label" for="school">School</label>
  <div class="controls">
    <input type="text" class="form-control input-lg" id="school" name="school" placeholder="e.g. University of New Mexico">
  </div>
</div>
<div class="form-group">
  <label class="control-label">Course</label>
  <div class="controls">
    <input type="text" class="form-control input-lg" name="course" placeholder="e.g. Introduction to Economics">
  </div>
</div>
<div class="form-group">
  <label class="control-label">Add Book(s) by ISBN</label>
  <div class="controls">
    <div id="coursebooks">
        <input type="text" class="form-control pull-left input-lg isbn-field" placeholder="e.g. 9780747591054" name="book">
    </div>
</div>
</div>
</div>
<p><a id="addMoreBooks">Add more books...</a></p>
<input type="submit" class="btn btn-primary">
</form>
{% endblock %}
