{% extends "base.html" %}
{% block title %}Textbookloop - Buy{% endblock %}
{% block content %}

  <h1>What are you looking for?</h1>
  <form method="post">
    <div class="form-group">
        <label class="control-label">Course of Book...</label>
        <div class="controls">
            <input type="text" name="course" class="form-control input-lg" value="{{course}}" placeholder="e.g. Introduction to Economics">
        </div>
    </div>
  </form>
  {% if book_list %}
  <h1 class="page-header">Found:</h1>
  <ul class="list-group" style="width:100%">
    {% for b in book_list %}
    <li class="list-group-item">
        <p class="pull-left"><strong>*{{ b['book'].condition }}* </strong>{{ b['book'].book.title }} by {{ b['owner'].name }} for {{ b['book'].price }}</p>
      <a class="pull-right">Add to Wishlist</a>
    </li>
    {% endfor %}
  </ul>
  {% elif course %}
  Sorry, we're unable to find any books for <strong>{{ course }}</strong> currently. :(
  {% endif %}
{% endblock %}
