{% extends "base.html" %}

{% block title %}Textbookloop{% endblock %}

{% block head %}

<style>
    td {
        text-align: right;
        padding-right: 25px;
    }
</style>

{% endblock %}

{% block content %}
<div class="jumbotron" style="text-align:center;">
  <img src="/static/tbl.png" width="100%">
  <p>Buy and sell textbooks right within your school!</p>
  <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-signup">Get Started</a></p>
  <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><img class="banner" src="/static/tbl.png"></h4>
      </div>
      <div class="modal-body">
        <h1>Sign Up</h1>
        <form id="signup" action="/signup" method="post">
          <table style="margin: 0 auto;">
            <tr>
                <td>Name: </td><td><input type="text" name="name" class="form-control" placeholder="Name"></td>
            </tr>
            <tr>
                <td>College: </td><td><input type="text" name="college" class="form-control" placeholder="College"></td>
            </tr>
            <tr>
                <td>Email: </td><td><input type="email" name="email" class="form-control" placeholder="Email"></td>
            </tr>
            <tr>
                <td>Password: </td><td><input type="password" name="password" class="form-control" placeholder="Password"></td>
            </tr>
            <tr>
                <td>Confirm: </td><td><input type="password" name="c-password" class="form-control" placeholder="Confirm Password"></td>
            </tr>
          </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary">
      </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<div class="row">
  <div class="col-md-4">
    <p>Nostrud dolor id nostrum aliquid lorem, natus eius eum aliquam, earum incididunt impedit. Laboriosam voluptates tempore quod incidunt magnam, doloribus optio, consequuntur quis culpa magna. Iure elit laudantium at minima magna, consequuntur natus laudantium repudiandae laudantium tempore.</p>
  </div>
  <div class="col-md-4">
    <p>Nostrud dolor id nostrum aliquid lorem, natus eius eum aliquam, earum incididunt impedit. Laboriosam voluptates tempore quod incidunt magnam, doloribus optio, consequuntur quis culpa magna. Iure elit laudantium at minima magna, consequuntur natus laudantium repudiandae laudantium tempore.</p>
  </div>
  <div class="col-md-4">
    <p>Nostrud dolor id nostrum aliquid lorem, natus eius eum aliquam, earum incididunt impedit. Laboriosam voluptates tempore quod incidunt magnam, doloribus optio, consequuntur quis culpa magna. Iure elit laudantium at minima magna, consequuntur natus laudantium repudiandae laudantium tempore.</p>
  </div>
</div>
<footer>Built at MHacks, 2014</footer>
</div>
{% endblock %}
