<!doctype html>

<html>
  
  <head>
    <title>Textbookloop</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" media="only screen and (max-width: 600px)" href="/static/mobile-style.css">
    <link rel="stylesheet" media="only screen and (min-width: 601px)" href="/static/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="shade">
      <div class="frame">
        <img class="banner" src="/static/tbl.png">
        <h1>Sign In</h1>
        <form id=login>
          <input type="email" name="email" class="form-control" placeholder="Email">
          <input type="password" name="password"" class="form-control" placeholder="Password">
          <a class="btn btn-primary">Sign In</a>
        </form><br>
        <h1>Or Sign Up</h1>
        <form id=signup>
          <input type="email" name="email" class="form-control" placeholder="Email">
          <input type="password" name="password" class="form-control" placeholder="Password">
          <input type="password" name="c-password" class="form-control" placeholder="Confirm Password">
          <a class="btn btn-primary">Sign Up</a>
        </form>
      </div>
    </div>
  </body>

</html>