{% extends "base.html" %}
{% block title %}Textbookloop - Buy{% endblock %}
{% block content %}
<h1>New Book to Sell?</h1>
<form method="post">
    <label class="control-label">ISBN of book...</label>
    <input type="text" name="isbn" class="form-control pull-left input-lg" placeholder="e.g. 9780747591054">
  <div class="pull-left">
      $<input type="number" step="any" name="price" class="form-control" placeholder="50">
      <select name="condition" class="form-control">
        <option>Condition</option>
        <option value="New">New</option>
        <option value="Very Good">Very Good</option>
        <option value="Good">Good</option>
        <option value="Acceptable">Acceptable</option>
      </select>
    </div>
  <br>
  <input id="sell" type="submit" class="btn btn-primary" value="Sell">
</form>
<br><br>
{% if selling %}
<h1 class="page-header">Your Books on Sale Now:</h1>
<ul class="list-group pull-left" style="width:100%">
  {% for book in selling %}
  <li class="list-group-item">
      <p class="pull-left"><strong>*{{ book.condition }}*</strong> {{ book.book.title }} by {{ book.book.authors }} for ${{ book.price }}</p>
    <a class="pull-right">Mark Claimed</a>
  </li>
  {% endfor %}
{% endif %}
</ul>
{% endblock %}
