{% extends "base.html" %}
{% block title %}Textbookloop - Buy{% endblock %}
{% block content %}
<h1>New Book to Sell?</h1>
<form method="post">
    <input type="text" name="isbn" class="form-control pull-left input-lg" placeholder="Enter the ISBN number of the book">
</form>
<br><br>
{% if selling %}
<h1 class="page-header">Your Books on Sale Now:</h1>
<ul class="list-group pull-left" style="width:100%">
  {% for book in selling %}
  <li class="list-group-item">
    <p class="pull-left">{{ book.title }} by {{ book.authors }}</p>
    <a class="pull-right">Mark Claimed</a>
  </li>
  {% endfor %}
{% endif %}
</ul>
{% endblock %}
