{% extends "base.html" %}
{% block title %}Textbookloop - Buy{% endblock %}
{% block content %}
<h1>New Book to Sell?</h1>
<form>
  <input type="text" class="form-control pull-left input-lg" placeholder="Enter the ISBN, Book Title, or Author....">
  <div class="pull-left">$<input type="number" name="price" class="form-control" placeholder="50" style="display:inline-block;"></div>
  <select name="condition" class="form-control">
    <option>Condition</option>
    <option value="New">New</option>
    <option value="Very Good">Very Good</option>
    <option value="Good">Good</option>
    <option value="Acceptable">Acceptable</option>
  </select><br>
  <input id="sell" type="submit" class="btn btn-primary" value="Sell">
</form>
{% endblock %}
